# Ignore the Dotenv file
.env

# Ignore the local data-migration log.
data-migrations/processed.log

# Skip all of the dependencies in node_modules
node_modules/

# Skip the compile distribution files
dist/

# Skip the Jest code coverage folder
coverage/

# Ignore the persisted data sources for the local Docker dev env
docker/

# Skip the tmp directory (used by Jest to cache)
tmp/

# Ignore VS Code files, like the launch.json file
.vscode/

# OS specific files
.DS_Store

/.idea/
