# NOTE::
# The services, settings and environment setup in this compose file is for DEVELOPMENT ONLY!
#
# It is intended to run the Apollo server in an "offline" mode. All data will be mocked.
#
networks:
  dmptool-network:
    driver: bridge

services:
  mysql:
    image: mysql:latest
    container_name: apollo-mysql
    ports:
      - "3307:3306"
      - "3306:3306"
    expose:
      - 3307
    environment:
      - MYSQL_ROOT_PASSWORD=d0ckerSecr3t
      - MYSQL_DATABASE=dmptool
    networks:
      - dmptool-network
    volumes:
      - ./docker/mysql:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10
      start_period: 5s

  dynamodb:
    image: "amazon/dynamodb-local:latest"
    container_name: dynamodb
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
    networks:
      - dmptool-network
    ports:
      - "8000:8000"
    expose:
      - 8000
    volumes:
      - "./docker/dynamodb/data:/home/dynamodblocal/data"
    working_dir: /home/dynamodblocal

  redis:
    image: "public.ecr.aws/docker/library/redis:alpine"
    container_name: apollo-redis
    command: redis-server
    networks:
      - dmptool-network
    ports:
      - "6379:6379"
    volumes:
      - "./docker/redis:/var/lib/redis"

  apollo:
    container_name: apollo-server
    depends_on:
      mysql:
        condition: service_healthy
      dynamodb:
        condition: service_started
      redis:
        condition: service_started
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    networks:
      - dmptool-network
    expose:
      - 4000
    env_file:
      - .env
    environment:
      - "AWS_ACCESS_KEY_ID=DUMMYIDEXAMPLE"
      - "AWS_SECRET_ACCESS_KEY=DUMMYEXAMPLEKEY"
      - "REGION=us-west-2"
      - "NODE_ENV=development"

      - "MYSQL_CONNECTION_LIMIT=5"
      - "MYSQL_HOST=apollo-mysql"
      - "MYSQL_PORT=3306"
      - "MYSQL_DATABASE=dmptool"
      - "MYSQL_USER=root"
      - "MYSQL_PASSWORD=d0ckerSecr3t"

      - "DYNAMO_TABLE_NAME=localDMPTable"
      - "DYNAMO_ENDPOINT=http://dynamodb:8000"

      - "CACHE_HOST=apollo-redis"
      - "CACHE_PORT=6379"
      - "CACHE_CONNECT_TIMEOUT=10000"
    volumes:
      - ".:/app"
    extra_hosts:
      - "host.docker.internal:host-gateway"
